<header>
    <div>
        <a href="/"><button class="botao-cabecalho">Home</button></a>
        <a href="/calculos"><button class="botao-cabecalho">Calcule suas necessidades</button></a>
        <a href="/motivacao"><button class="botao-cabecalho">Motivação</button></a>
        <a href="/quizEsporte"><button class="botao-cabecalho">Esporte Ideal</button></a>
        
    </div>
    <div>
        <a href="<%=href_user_login%>"><button class="botao-cabecalho"><%=user_login%></button></a>
        <a href="<%=href_cadastro_logoff%>"><button class="botao-cabecalho"><%=cadastro_logoff%></button></a>
    </div>
</header>