<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esporte Ideal</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <div>
            <button class="botao-cabecalho">Calculos</button>
            <button class="botao-cabecalho">Motivação</button>
            <button class="botao-cabecalho">Esporte Ideal</button>
            <button class="botao-cabecalho">Quiz</button>
        </div>
        <div>
            <button class="botao-cabecalho">Login</button>
            <button class="botao-cabecalho">Cadastro</button>
        </div>
    </header>
    <main>
        <h1>Descubra o esporte Ideal para você</h1>
        <section class="esporte-ideal-sec">
            <div>
                <label for="escolha1">Qual das opções abaixo melhor te descreve:</label>
                <select name="escolha1" id="escolha1">
                    <option value="sociavel">Sociável</option>
                    <option value="Intospectivo">Intospectivo</option>
                    <option value="Extrovertido">Extrovertido</option>
                </select>
            </div>
            <div>
                <label for="escolha2">Em uma atividade física, você busca por</label>
                <select name="escolha2" id="escolha2">
                    <option value="diversão">Diversão</option>
                    <option value="Explorar limites">Explorar limites</option>
                    <option value="Adrenalina">Adrenalina</option>
                    <option value="Desestressar">Desestressar</option>
                </select>
            </div>
            <div>
                <label for="esolha3">Você prefere fazer atividade física:</label>
                <select name="escolha3" id="escolha3">
                    <option value="ar_livre">Ao ar Livre</option>
                    <option value="fechado">Locais Fechados</option>
                    <option value="relaxantes">Ambientes relaxantes</option>
                </select>
            </div>
            <div>
                <label for="escolha4">Você gosta de esporte:</label>
                <select name="escolha4" id="escolha4">
                    <option value="grupo">Em grupo</option>
                    <option value="individual">Individual</option>
                    <option value="dupla">Dupla</option>
                </select>
            </div>
            <div>
                <label for="escolha5">Você é competititvo?</label>
                <select name="escolha5" id="escolha5">
                    <option value="sim">Sim</option>
                    <option value="não">Não</option>
            </div>
            </select>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>