<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <%- include('../parts/page-header', {href_user_login: href_user_login, href_cadastro_logoff: href_cadastro_logoff, user_login: user_login, cadastro_logoff: cadastro_logoff}) %>

    <main>
        <div class="botoes-main">
            
            
                
            <a href="/calculos"><img src="./img/home-calc.png" alt="Calculos"></a>
        
            
            <button>Esporte Ideal Ideal</button>
            <button>Motivação</button>
            <button>Quiz</button>
        </div>
    </main>

    <%- include('../parts/page-footer') %>
</body>
</html>