<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <%- include('../parts/page-header', {href_user_login: href_user_login, href_cadastro_logoff: href_cadastro_logoff, user_login: user_login, cadastro_logoff: cadastro_logoff}) %>
    <main>
        <h1>Login</h1>
        <section class="login">
            <form action="/auth/login" method="POST">
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="email@email.com" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" title="Digite um email valido">
                <label for="password" >Senha:</label>
                <input type="password" name="password" placeholder="******" required>
                
                <div class="btn-submit">
                    <button type="submit">Enviar</button>
                    <button type="reset">Limpar</button>
                </div>
            </form>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>